img{
	
	margin-top: 20px;
	width: 1050px;
	height: 700px;
	margin-left: 100px;


}

.container {
  position: relative;
  margin: 0 auto; 
}

.container .content {
  position: absolute; 
  top: 0;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1; 
  padding: 10px;
  margin-left: 125px;
  margin-top: 80px;
 

}